@import url(assets/scripts/sanitize.css);
body {
    background-color: #f0f0f0;
    background-image: url(../images/bg2.jpg);
    line-height: 1.7;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {   
    width: 1911px;
    height: 900px;
}
header {
    padding: 0px;
    color: #000000;
    background-color: #fff;
    width: 1911px;
}
.watarona_web_head img{
    width: 600px;
    height: 100px;
    text-align: right;
}
.a{
    text-decoration: none;
}
.main-nav{
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
    margin-left: 0;
    text-align: right;
}
.main-nav li{
    margin-left: 36px;
    padding-right: 0;
    float: right;
    font-weight: bold;
}
.main-nav a{
    color:#000000;
    /* background:  rgb(255, 255, 255); */
}
.page-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}
.wrapper{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 4%;
}